:root {
    --bg-glow: rgb(205, 209, 216);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden scroll;
}

/*-------------- START OF NAVIGATION BAR ------------------------*/

nav {
    background-color: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

label.logo {
    color: #27187E;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    /* margin: 0 auto; */
}

nav ul {
    margin-right: 20px;
    /* position: absolute;
    right: 0;
    top: 0; */
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}

nav ul li a:hover {
    background-color: rgb(87, 164, 10);
    transition: .7s ease-in-out;
}

.active {
    color: #0E41A3;
    text-decoration: underline;
}

.checkBtn {
    position: absolute;
    font-size: 30px;
    float: right;
    right: 0;
    line-height: 80px;
    color: #000;
    margin-right: 30px;
    cursor: pointer;
}

#check,
.checkBtn {
    display: none;
}

.login {
    color: #F26419;
    font-size: 19px;
}

/*-------------- END OF NAVIGATION BAR ------------------------*/

/*-------------- START OF MAIN SECTION ------------------------*/
main {
    width: 100%;
    font-size: 20px;
    padding: 80px 0 0 0;
    margin: 0;
}


.container {
    width: 100%;
    display: grid;
    padding: 80px 10% 0 0;
}

.container-one {
    background-image: linear-gradient(to bottom, rgb(67, 35, 113), rgb(250, 174, 123), #fff 20%);
}

.container-two {
    background-image: linear-gradient(to top, rgb(67, 35, 113), rgb(250, 174, 123), #fff 20%);
}

/** ---------------------- HOME SECTION --------------------------- */
#home {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: "home-desc profile-img" "social__links profile-img";
    gap: 10px;
}

/* #home div {
    background-color: #916b6b;
} */

.home-desc {
    padding: 20px 80px;
    display: grid;
    align-content: space-around;
    grid-area: home-desc;
}

.home-desc h1 {
    font-size: 3rem;
}

.home-desc label {
    color: #A63636;
}

.home-desc p {
    font-size: 2rem;
}

.profile-img {
    margin: 0 auto;
    grid-area: profile-img;
    height: 400px;
}

.profile-img>img {
    max-width: 300px;
    border-radius: 50%;
}

.social__links {
    grid-area: social__links;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
}

.social__links li {
    color: #686dd4;
    padding: 0 10px;
    font-size: 2rem;
}

.social__links li:hover {
    color: #e518b8;
}

/** ---------------------- END OF HOME SECTION --------------------------- */
/* ------------------------- ABOUT-ME SECTION -------------------------- */
#aboutme {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: "heading heading " "profile-img about-desc";
    gap: 10px;
    /* padding-bottom: 100px; */
}

.aboutme-heading {
    grid-area: heading;
}

.about-desc {
    grid-area: about-desc;
    padding: 10px 80px;
}

.btn {
    height: 60px;
    text-align: center;
    margin-top: 40px;
}

.btn button {
    font-size: 1.5rem;
    padding: 10px 30px;
    color: #fff;
    background-color: #758E4F;
    border-radius: 8px;
}

/* ------------------------- END OF ABOUT-ME SECTION -------------------------- */
/*------------------------------ SKILLS SECTION -------------------- ------------------------*/
.heading {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.skills {
    /* height: 800px; */
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #e518b8;
}

.skills-desc {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #7659d0; */
}

.single-skill {
    background-color: #f2f4f5;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: grid;
    justify-content: space-around;
}

.second_icon {
    display: none;
}

.single-skill h1 {
    font-size: 1.5rem;
}

.single-skill h1 i {
    color: #5661C7;
    padding: 0 20px;
}

/*------------------------------END OF SKILLS SECTION -------------------- ------------------------*/

/*------------------------------ PORTIFOLIO SECTION -------------------- ------------------------*/
.portifolio {
    text-align: center;
    display: grid;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
}

.portifolio-desc,
.blog-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #7659d0; */
    padding-bottom: 100px;
}

.blog,
.project {
    border: 4px solid #f2f4f5;
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: grid;
    /* justify-content: space-between; */
    align-content: space-between;
}

.project {
    max-width: 300px;
}

.blog {
    max-width: 500px;
    align-content: center;
}

.blog a,
.project button {
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    padding: 4px 15px;
    background-color: #758E4F;
    color: #fff;
    border-radius: 10px;
}

.project img {
    width: 200px;
}

.like-or-comment {
    background-color: aliceblue;
}

.thumbs-up {
    display: flex;
    color: #7659d0;
    justify-content: space-between;
    padding: 0 30px;
}

.add-comment {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.add-comment textarea {
    min-width: 300px;
    min-height: 100px;
    max-width: 300px;
    max-height: 100px;
}

.add-comment button {
    width: 80px;
    height: 30px;
    color: darkred;
    font-size: 1rem;
}

/*------------------------------ END OF PORTIFOLIO SECTION ------------------------*/
/* ------------------------- BLOGS SECTION -----------------------------------------  */
.blogs {
    width: inherit;
    padding-top: 120px;
    /* justify-content: space-around; */
}

.blog-desc {
    background-color: #33658A;
}

.blog {
    width: 60%;
}

.blog img {
    width: inherit;
    justify-self: center;
}

.blog a {
    width: 100px;
}

/* ------------------------ END OF BLOGS SECTION -----------------------------------------  */

/* -------------------------------- SERVICES SECTION -----------------------------------------  */
.services {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #7659d0;
}

.service {
    background-color: #f2f4f5;
    width: 300px;
    /* height: 200px; */
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    display: grid;
    justify-content: space-around;
}

.service:hover {
    background-color: #989999;
}

.service i,
.service span {
    color: blue;
    font-size: 4rem;
}

.one-service h3 {
    font-size: 30px;
}

/* ------------------------------ END OF SERVICES SECTION -----------------------------------------  */

/** ------------------------------- CONTACTME SECTION -------------------------------- */
.contactme {
    display: grid;
    grid-template: 100px 1fr / 1fr 1fr;
    grid-template-areas: "contact-heading contact-heading " "contact-info contact-msg";
    padding-top: 100px;
}

.contact-heading {
    grid-area: contact-heading;
}

.contact-info {
    grid-area: contact-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-msg {
    grid-area: contact-msg;
}

.icon-text {
    /* display: grid;
    grid-template: 1fr 1fr 1fr/1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 250px;
    border: 1px solid green;
    border-radius: 8px;
}

.icon-text .icon {
    padding: 10px 0;
}

.social-sec {
    display: inline-flex;
    width: 250px;
}

.social-sec a {
    padding: 0 20px;
    font-size: 30px;
}

.social-sec a:hover {
    color: rgb(150, 190, 243);
}

.contact-msg>.title {
    text-align: center;
}

.contact-msg {
    height: 400px;
    width: 80%;
    padding: 0 30px;
}

.input_textarea {
    min-width: 100%;
    margin: 10px 0;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    height: 80px;
}

/** ------------------------------- END OF CONTACTME SECTION -------------------------------- */

/* ----------------------------- LOGIN and REGISTER SECTION -----------------------------------------  */

.login-section {
    min-height: 120vh;
    background-color: #17012d;
    border-top: 2px solid green;
}

.register-details,
.login-details {
    width: 350px;
    margin: 0 auto;
    /* background: beige; */
    height: 95vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0 40px 0;
}

.register-details {
    padding: 180px 0 40px 0;
}

.register-details h3,
.login-details h3 {
    width: 100%;
    color: #fff;
}

.continue-buttons>button,
.form input {
    width: 100%;
    margin: 10px 0;
    height: 40px;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

.continue-buttons>button i {
    padding-right: 10px;
    color: #758E4F;
    font-size: 1.5rem;
}

.text {
    color: #fff;
}

.text a {
    color: #05ff2f;
    text-decoration: underline;
    margin-left: 20px;
    padding: 4px 8px;
}

.login-btn:hover {
    background-color: #33658A;
    color: #fff;
    font-size: 1.4rem;
}

.text a:hover {
    border-radius: 5px;
    background-color: #33658A;
}

.register-section {
    min-height: 130vh;
    background-color: #17012d;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

/* ----------------------- END OF LOGIN and REGISTER SECTION -----------------  */
/* --------------------------- START OF SUBSCRIBE AND FOOTER SECTION -----------------  */
.subscribe {
    background-color: #758BFD;
    line-height: 70px;
    text-align: center;
    margin: 0 auto;
}

.subscribe-details h2 {
    font-weight: 500;
    color: #fff;
}

.subscribe-details input {
    font-size: 1.2rem;
    height: 2rem;
    margin: 0 20px;
    border-radius: 8px;
    border-radius: 1px solid #fff;
    padding: 3px 10px;

    border: 0;
}

.subscribe-details input[type=submit] {
    background-color: #758E4F;
    color: #fff;
    font-weight: 600;

}

.subscribe-details input:hover {
    color: #5372FF;
    background-color: #fff;
}

.footer {
    background-color: #27187E;
    color: #fff;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 45px;
    min-height: 50vh;
}

.copyright {
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
}

.shortcuts li a {
    font-size: 1.3rem;
    color: #fff;
    line-height: 50px;

}

.shortcuts {
    width: 200px;
    padding: 0 20px;
}

/* -------------------------------- END OF SUBSCRIBE AND FOOTER SECTION --------------  */
/*------------------------------ MEDIA QUERRIES -------------------- ------------------------*/
@media screen and (max-width: 1024px) {
    nav ul {
        display: none;
    }

    nav ul li {
        line-height: 40px;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        width: 130px;
        text-align: left;
        background-color: rgb(214, 203, 181);
        border-radius: 0 0 0 12px;
    }

    .bar-off {
        display: none;
    }

    #check:checked~.checkBtn>.bar-off {
        display: block;
        line-height: 80px;
        font-size: 35px;
    }

    #check:checked~.checkBtn>.bar-on {
        display: none;
    }

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul,
    nav ul li a {
        font-size: 16px;
    }

    #home {
        gap: 10px;
        padding-left: 0;
    }

    .contactme {
        display: grid;
        grid-template: 100px 1fr 1fr /1fr;
        grid-template-areas: "contact-heading" "contact-info " "contact-msg";
        padding-top: 100px;
    }

    .contact-msg {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    #home {
        grid-template: 1fr / 1fr;
        grid-template-areas: "home-desc" "profile-img" "social__links";
        gap: 10px;
    }

    #aboutme {
        grid-template: 1fr / 1fr;
        /* grid-template-rows: 10% 1fr; */
        grid-template-areas: "heading" "profile-img " "about-desc";
    }
}